/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";
@import "~resources/scss/partials/header.scss";
@import "~resources/scss/partials/footer.scss";
@import "~resources/scss/partials/comicsSection.scss";
@import "~resources/scss/partials/jumbotron.scss";
@import "~resources/scss/partials/marchandise.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
